.father{
    
    display: flex;
    justify-content: space-around;
}
body{
    background-image: url("planetbg.jpeg");
    height: 100%;
}

.leftsided{
    
    width: 50rem;
    
    display: flex;
    flex-direction: column;
}
.rightsided{
    
    width: 40rem;
    
    
}

.pickyourdestination{
    margin-top: 5rem;
}

.marsefather{
    display: flex;
    justify-content: center;
    
}
.marsjpg{

    width: 100%;
    height: 100%;
}

.nextbuttondad{
    display: flex;
    justify-content: end;
}

.nextbtn{
    height: 40px;
    width: 90px;
    background-color: transparent;
    color: white;
    border: 1px solid #4D9FFF;
    transition-duration: 0.30s;
}

.nextbtn:hover{
    -webkit-box-shadow: -1px 2px 22px 1px rgba(25,152,255,1);
-moz-box-shadow: -1px 2px 22px 1px rgba(25,152,255,1);
box-shadow: -1px 2px 22px 1px rgba(25,152,255,1);
}
.lanetnavigationfather{
    display: flex;
    justify-content: center;
    align-items: center;
}
.planetnavigation{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}
.button{
    margin-top: 40px;
    justify-content: center;
    margin-right: 30px;

}
.moonbtn{
    background-color: transparent;
    color: white;
    border: none;
    height: 30px;
    font-size: 1.5rem;
}
.moonbtnaf{
    height: 30px;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}
.marsbtn{
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: none;
    height: 30px;
    font-size: 1.5rem;
}
.europabtn{
    background-color: transparent;
    color: white;
    border: none;
    height: 30px;
    font-size: 1.5rem;
}
.titanbtn{
    background-color: transparent;
    color: white;
    border: none;
    height: 30px;
    font-size: 1.5rem;
}

.planettxt{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.planetname{
    font-size: 9rem;
}

.planetfact{
    display: flex;
    justify-content: center;
}

.planetfacttxt{
    font-size: 1.4rem;
    width: 57%;
    
}
.distancecompfather{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.distancecomp{
    display: flex;
    
    width: 65%;
    height: 30%;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
}

.leftupper{
    font-size: 1rem;
}

.leftdown{
    font-size: 2.4rem;
}

.marsplanetname{
    font-size: 9rem;
    color: #E77727;
}
.titanplanetname{
    font-size: 9rem;
    color: #01891a;
}
.europaplanetname{
    font-size: 9rem;
    color: #a26a00;
}
.moonbtn{
    color: white;
    
}
.marsbtn{
    color: #E77727;
    border-bottom:1PX solid #E77727;
}
.titanbtn{
    color: #01891a;
    border-bottom:1PX solid #01891a;
}
.europabtn{
    color: #ab8301;
    border-bottom:1PX solid #ab8301;
}
.underbutton{
    display: none;
}
.glitchtxt{
    font-size: 0.5rem;
}
.button:hover{
    border-bottom:1PX solid white ;
}
@media only screen and (max-width: 600px) {
    .father{
        flex-wrap: wrap;
    }
    .nextbtn{
        display: none;
    }
    .txtfordestination{
        text-align: center;
    }
    .planetname{
        
        font-size: 5rem;

    }
    .distancecomp{
        width: 90%
    }
    .planetnavigation{
        margin-left: 9%;
        justify-content: center;
        width: 90%;
        margin-top: 10px;
        
    }
    .rightsided{
        width: 100%;
    }
    .button{
        margin-top: -300px;
        margin-right: 10px;
    }

    .marsplanetname{
        font-size: 5rem;
        color: #E77727;
    }
    .titanplanetname{
        font-size: 5rem;
        color: #01891a;
    }
    .europaplanetname{
        font-size: 5rem;
        color: #a26a00;
    }
    .planetname{
        margin-top: -150px;
    }
    .marsplanetname{
        margin-top: -150px;
    }
    .titanplanetname{
        margin-top: -150px;
    }
    .europaplanetname{
        margin-top: -150px;
    }
    .planetfacttxt{
        margin-top: -50px;
        width:100%;
    }
    .distancecomp{
        margin-top: -150px;
    }
    .underbutton{
        margin-top: -150px;
    }
    .leftdown{
        font-size: 1.4rem;
    }
    .anotherbtn{
        display: flex;
        justify-content: center;
    }
    .underbutton{
        display: block;
        height: 40px;
        width: 90px;
        background-color: transparent;
        border: 1px solid #4D9FFF ;
        color: white;

    }

    .txtfordestination{
        margin-top: -40px;
    }
   
    .distancecompfather{
        height: 300px;
    }
    body{
        height: 100%;
    }
   
  }
